.container {
    width: 95%;
    position: relative;
    max-width: 800px;
    margin: 15px auto;
    background: #fff;
    box-shadow: 0 14px 80px rgba(34, 35, 58, 0.2);
    padding: 25px;
    border-radius: 25px;
    height: auto;
    min-height: 150px;
    transition: all 0.3s;
  }

  .button_container {
    text-align: center;
    padding: 20px 20px 10px 20px;
}

.header_panel {
  margin-bottom: 0;
}

.collapse_container {

}

.ant-collapse-header {
  padding: 20px;
  font-size: 20px;
}

.ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-arrow {
  font-size: 16px;
}